.card-item{
    text-align: center;
    min-height: 375px;
    height: 406px;
    background-color: white;
    margin-block-end: 21px;
    box-shadow: 0px 2px 3px #80808063;
    cursor: pointer;
    transition: all ease-in .2s;
}
.card-item>img{
    margin: auto;
}
.card-item>img.space-img{
    padding-top: 20pt;
}
.card-item:hover{
    box-shadow: 0px 29px 32px #80808066;
    transform: translateY(-5px);
}
.card-item .card-up{
    position: absolute;
    width: 100%;
    height: 406px;
    background-color: #fdfdfdf0;
    padding: 10%;
    /* padding-top: 41%; */
    opacity: 0;
    transition: all ease .3s
}
.card-item:hover .card-up{
   opacity: 1;
   z-index: 1;
}
.card-up img{
    margin-bottom:20pt;
    margin: 43pt auto;
    transition: all ease .2s;
}
.card-up img:hover{
    transform: scale(1.5);
}
.card-up.custom img{
    display: inline;
    margin-inline-end: 5pt;
    transition: all ease .2s;
}
.price{
    font-family: sans-serif;
    font-size: 15pt;
    font-weight: lighter;
    color: gray;
    letter-spacing: 1px;
}
.priceFrom, .priceFix{
    font-size: 16pt;
    color: var(--red);
    margin-top: 11pt;
}
.card-item h3{
    margin-bottom: 20pt;
}
.card-item .hot-tag{
   background: var(--red);
   padding: 2pt 7pt;
   position: absolute;
   top: 19px;
   left: 30px;
   color: white;
   letter-spacing: 2px;
   font-size: 13pt;
}
.card-up.custom .btns{
    margin: 1pt auto;
}
.card-up.custom .priceFix{
    font-size: 25pt;
    margin-block-end: 36pt;
    font-family: sans-serif;
    letter-spacing: 3px;
}